<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">

    <meta charset="UTF-8"/>
    <title th:text="${title}">Sensor</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>

<nav th:fragment="navigation">
    <a href="/message">List</a> |
    <a href="/message/add">Add</a> |
    <a href="/message/remove">Remove</a>
</nav>

</body>
</html>