<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="message : ${messages}" class="checkbox">
        <input type="checkbox" name="messageIds" th:value="${message.id}" th:id="${message.id}"/>
        <label th:for="${message.id}" th:text="${message.coordinates}"></label>
        <label th:for="${message.id}" th:text="${message.temperature}"></label>
        <br />
    </div>

    <input type="submit" value="Remove" />
</form>

</body>
</html>